<div class="container">
    <div class="row mt centered ">
        <div class="col-lg-4 col-lg-offset-4">
            <h3>Toutes les Pharmacies</h3>
            <hr>
        </div>
    </div>

    {% if pharmacies | length > 0  %}
        {% for row in pharmacies | batch (3) %}
            <div class="row mt centered">
             {% for pharmacy in row %}
                <div class="col-lg-4 desc">
                        <div class="b-link-fade b-animate-go">
                            <img width="300" src="{{ asset('build/images/port05.5e69a287.jpg') }}" alt="{{ pharmacy.name }}" />
                            <div class="b-wrapper">
                                <h4 class="b-from-left b-animate b-delay03" style="margin-top: 70px;">{{ pharmacy.name }}</h4>
                                <p class="b-from-right b-animate b-delay03">{{ pharmacy.address }}</p>
                            </div>
                        </div>
                    <p><a class="btn btn-primary" href="{{ path('pharmacy', {id: pharmacy.id}) }}"> Passer une commande</a></p>
                </div>
                 {% endfor%}
                </div>
           {% endfor%}
        {% else %}
            <h1 class="text-center">Aucune pharmacie n'a encore soyez la premiere a vous enregister</h1>
    {% endif %}
        </div>
</div>